[Unit]
Description=Monitor CPU MMIO RAPL power limits
Documentation=file:/usr/share/doc/system/rapl-power-limit.md
After=multi-user.target
ConditionPathIsDirectory=/sys/class/powercap/intel-rapl-mmio:0

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/local/sbin/restore-cpu-rapl-limits --monitor
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
